@charset "UTF-8";

/*Reseta todo o padding e margin do site, e aplica uma fonte padrão*/
*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

/*Configurações básicas de estilo da barra de navegação*/
#navigation{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9a4c2e;
    color: white;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.678);
    position: fixed;
}

/*Organização da imagem e título do site*/
#website-brand{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 1rem;
}

/*Estilização do logo na barra de navegação*/
#website-brand img{
    height: 80px;
    border-radius: 100%;
    /*box-shadow: 2px 2px 5px rgba(153, 76, 46, 0.5);*/
}

/*Fonte personalizada para o titulo*/
#website-brand h1{
    font-family: "Aladin", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2em;
}

/*Botão de menu para dispositivo móveis*/
#button-menu{
    border: none;
    background-color: rgba(0, 0, 0, 0);
    width: 40px;
    height: 35px;
    margin-right: 1rem;
    display: flex;
    gap: 8px;
    flex-direction: column;
    z-index: 1002;
    transform-origin: center;
    
}


/*Icone do botão de menu*/
#button-menu img{
    max-width: 100%;
    height: auto;
}

#button-menu div{
    width: 100%;
    background-color:white;
    height: 5px;
    border-radius: 4px;
    transition: 0.5s;
}

/*Estilização do menu*/
#links-menu{
    position: fixed;
    top: 0;
    right: -400px;
    width: 250px;
    height: 25%;
    border-radius: 20px 0px 0px 20px;
    background-color: white;
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    transition: right 0.3s ease-in-out;
    z-index: 1001;
}

/*Ajuste na lista de links do menu*/
#links-menu ul{
    list-style: none;
}

#links-menu ul li {
    margin-bottom: 1rem;
}

/*Personalização dos links*/
#links-menu ul li a{
    text-decoration: none;
    color: #9a4c2e;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

/*Personalização ao clicar no link*/
#links-menu ul li a:hover{
    text-decoration: none;
    background-color: #9a4c2e;
    color: white;
    font-size: 18px;
}

/*Overlay para quando o menu abre*/
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1000;
}

#button-menu.active div:nth-child(1){
    background-color: black;
    transform: translateY(15px) rotate(-45deg);
}

#button-menu.active div:nth-child(2){
    width: 0px;
}

#button-menu.active div:nth-child(3){
    background-color: black;
    transform: translateY(-11px) rotate(45deg);
}

/* Mostrar sidebar */
#links-menu.active {
    right: 0;
}
  
#overlay.active {
    display: block;
}



#introduction{
    display: flex;
    text-align: center;
    background-color: red;
    background-image: url("../assets/images/Delivery-de-comida-saudável.capa_.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 700px;
}

#introduction > div{
    background-color: rgba(255, 255, 255, 0.747);
    border-radius: 10px;
    max-width: 80dvw;
    padding: 20px 10px;
    margin: auto;
}

#introduction h2{
    margin-bottom: 1rem;
    font-size: 1em;
}

#introduction p{
    font-size: 0.8em;
    margin: auto;
    width: 80%;
}

main{
    background-color: #FBF0DF;
}

#tips{
    background-color: rgb(198, 198, 198);
    background-image: url("../assets/images/background-portrait.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#tips-title-1{
    color: #D66049;
    margin: 60px 0px 20px 20px;
}

#tips-title-2{
    color: #D66049;
    margin: 60px 0px 20px 20px;
}

#tips-problems{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

#tips-planting{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.cards{
    width: 80%;
    height: 350px;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.432);
}

.cards img{
    width: 100%;
    height: 200px;
}

.cards h4{
    text-align: center;
    color: #D66049;
    max-height: 24px;
    max-width: 70%;
    margin:auto;
}

.cards button{
    display: block;
    margin: 50px auto 0px auto;
    width: 60%;
    padding: 10px;
    border: none;
    background-color: #D66049;
    color: white;
}

#readline-mobile{
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: white;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}

#readline-mobile article > h3{
    color: #D66049;
    text-align: center;
    font-size: 1em;
    margin: 30px auto 20px auto;
    max-width: 80%;
}

#readline-mobile article img{
    width: 80%;
    display: block;
    margin: 0px auto;
}

#readline-mobile article p{
    text-align: justify;
    font-size: 0.8em;
    margin: 20px 30px 20px 30px;
}

#imc-introduction h3{
    margin: 20px 0px 20px 20px;
    font-size: 24px;
    text-align: center;
    color: #3d3d3d;
}

#imc p{
    margin: 0px 20px;
    font: 0.8em;
    text-align: justify;
}

#imc-introduction img{
    display: block;
    margin:20px auto;
    width: 80%;
}

#imc h2{
    text-align: center;
    color: #3d3d3d;
    margin-bottom: 20px;
}

.calculadora-imc{
    border: 1px solid #9a4c2e;
    border-radius: 4px;
    background-color: white;
    width: 70%;
    height: 450px;
    margin: 20px auto 50px auto;
    padding: 24px;
    box-shadow: 8px 8px 0px 0px rgba(154, 77, 46, 0.277);
}

.calculadora-imc label{
    color: #3d3d3d;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    display: block;
    margin-bottom: 4px;
}

.sexo-opcoes{
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}

.sexo-opcoes button{
    border: 1px solid #9a4c2e;
    background-color: #9a4d2e1f;
    color: #9a4c2e;
    padding: 8px;
    border-radius: 4px;
    width: 120px;
    height: 46px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.campo{
    margin-bottom: 20px;
}

.campo input{
    max-width: 110px;
    height: 46px;
    border-radius: 4px;
    border: 1px solid #9a4c2e;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #9a4c2e;
    padding-left: 10px;
}

.calcular-btn{
    width: 260px;
    display: block;
    margin: 35px auto 0px auto;
    color: white;
    background-color: #9a4c2e;
    border: none;
    border-radius: 4px;
    padding: 15px;
}

#benefits{
    background-color: white;
    padding-top: 5px;
}

#benefits article{
    margin-top: 80px;
}

#benefits h3{
    color: #D66049;
    text-align: center;
    font-size: 24px;
}

#benefits ol{
    margin: 0px 50px;
    text-align: justify;
}

#benefits ol li{
    margin: 20px 0px
}

footer h4{
    background-color: #3d3d3d2d;
    color:#3d3d3d;
    width: 80%;
    height: 40px;
    margin: 100px auto 20px auto;
    text-align: center;
    border-radius: 4px;
    font-size: 1.5em;
}

footer img{
    width: 90%;
    display: block;
    margin: auto;
}

footer p{
    text-align: justify;
    margin: 20px;
}